@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.app-color {
    background-color: rgba(0, 210, 254, 1);
}

html {
    display: grid;
    zoom:80%;
}

html, body {
    color: #636b6f;
    font-family: 'Noto Sans',sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
}

#app {
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    z-index: 1;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.form-control:not(.fc-alt) {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    background: transparent;
}

.form-control {
    box-shadow: none !important;
    resize: none;
}

.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 0.9em;
    line-height: 1.42857143;
    color: #000000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e0e0e0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.row {
    margin-right: 5px;
    margin-left: 5px;
}

.fg-line {
    position: relative;
    vertical-align: top;
}

.fg-line:not(.form-group) {
    display: inline-block;
    width: 100%;
}

.fg-line .form-control:disabled {
    color: #9d9d9d;
    background: transparent;
}

.fg-line:not(.disabled):after,
.fg-line:not(.readonly):after {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    content: "";
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

.fg-line:not([class*=has-]):after {
    background: #2196F3;
}

.fg-line.readonly .form-control {
    color: #9d9d9d;
    background: transparent;
}

.fg-line.fg-toggled:after {
    width: 100%;
}

button:disabled{
    opacity: 0.4 !important;
}

.main {
    position: absolute;
    top:5px;
    right:0;
    bottom: 0;
    left: 92px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    background: #fff;
    z-index: 2;
    overflow-y: auto;

    -webkit-box-shadow: -4px 0px 5px 0px rgba(153,139,153,1);
      -moz-box-shadow: -4px 0px 5px 0px rgba(153,139,153,1);
           box-shadow: -4px 0px 5px 0px rgba(153,139,153,1);
}

.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 20000;

    background-image: url(../images/loader.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 15%;
    background-color: rgba(237, 238, 240, 0.3);
}

.loading-mini {
    background-image: url(../images/loader.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 15%;
    background-size: 100%;
}

.modal-backdrop {
    display: none;
}

.modal-content {
    z-index: 1100;
}
