.user-finder {
    padding: 15px;
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    position: relative;
}

.user-finder input {
    border-radius: 5px;
    border: 0.15em solid #d9d7d7;
    padding: 5px;
    padding-left: 15px;
    margin-left: 15px;
    width: 90%;
}

.user-finder .search-result {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    height: auto;
    width: 100%;

    border-top: none;
    border-left: 0.15em solid #d9d7d7;
    border-right: 0.15em solid #d9d7d7;
    border-bottom: 0.15em solid #d9d7d7;

    z-index: 10;
}

.not-found {
    margin-left: 20px;
    color: #bfbebb;
}

.user-finder .search-result .user-row {
    display: inline-flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    padding: 5px;
    margin: 0px;
    cursor: pointer;
}

.user-row:hover {
    background: rgba(219, 218, 215, 0.9);
}

.user-row .user-image {
    margin: 0;
    padding: 5px;
    width: 45px;
}

.user-image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-row .user-description {
    width: 87%;
    margin:0;
    padding: 5px;
    padding-left:15px;
}

.user-description h1,
.user-description h2,
.user-description h3,
.user-description h4,
.user-description h5,
.user-description h6 {
    margin: 2px;
}

.user-description .email{
    font-size: 11pt;
}
